.App {
  text-align: center;
  background: #fcfcfc;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel img{
  max-height: 100vh;
  object-fit: cover;
}

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
  background: snow;
  opacity: 0.7;
  color: black;
  border-radius: 20px; 
}
.section-title {
  margin: 30px 0px 6px;
  color: #616161;
  text-shadow: 1px 1px 1px rgba(193, 193, 193, 0.46);
}
.section-description {
  color: #757575;
  margin-bottom: 25px;
}
.card {
  border: none;
  cursor: pointer;
}

.card-img-top{
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.card:hover .overlay {
  opacity: 1;
}
.card:hover .card-img-top{
  opacity: 0.7; 
}
.card-body {
  background: #fcfcfc;
}
.article-title {
  height: 48px;
}
.ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.work {
  align-items: center;
  margin-top: 15px;
  cursor: pointer;
}

.work-img-container .overlay {
  top: 50%;
}

.work-img {
  transition: .5s ease;
  backface-visibility: hidden;
}
.work-img-container:hover .work-img {
  opacity: 0.7;
}

.work-img-container:hover .overlay {
  opacity: 1;
}

@media screen and (min-width: 768px){
  .work {
    height: 300px;
  }
}

@media screen and (max-width: 767px){
  .work-content {
    margin-top: 15px;
  }
}

.skill-section {
  background-image: url('./img/carousel/Carousel-2.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.skill-row {
  margin-bottom: 10px;
  justify-content: center;
}
.skill-col {
  flex-grow: 0;
}
.skill-domain {
  color: #fcfcfc;
  margin-bottom: 15px;
  margin-top: 15px;
}
.skill-icon {
  width: 50px;
  height: 50px;
  background-color: rgb(241, 240, 240);
  border-radius: 15%;
}
@media screen and (min-width: 768px){
  .skill-icon {
    width: 75px;
    height: 75px;
  }
}
.badge {
  margin-right: 5px;
}